<html>
<head>
    <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {
            background: #303030;
        }

        .container {
            color: #ff0564;
        }

        .vertical-space {
            margin-top: 3%;
        }

        .vertical-space-after {
            margin-bottom: 3%;
        }

        .horizontal-space {
            margin-left: 1%;
        }
    </style>
</head>
<body>
<div class="container">
    <h1><img src="static/images/page_slurp.png"/></h1>
    <div class="vertical-space"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="col-lg-11">
                <div class="input-group">
                    <span class="input-group-addon">URL</span>
                    <input id="page-url-input" type="text" class="form-control"
                           placeholder="Please type in a page URL" required="true"/>
                </div>
            </div>
            <input id="page-url-submit" type="submit" class="btn btn-success" value="slurp"
                   onclick="processInputUrl()"/>
            <span class="horizontal-space" id="loading-gif" style="visibility: hidden">
                <img src="static/images/loading.gif" width="20px" height="20px"/>
            </span>
        </div>
        <div class="panel-body" id="result-body" style="display: none">
            <div id="exTab2">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#headers-ph" data-toggle="tab">Headers</a>
                    </li>
                    <li><a href="#images-ph" data-toggle="tab">Images</a>
                    </li>
                    <li><a href="#js-ph" data-toggle="tab">JS</a>
                    </li>
                </ul>

                <div class="tab-content vertical-space">
                    <div class="tab-pane active" id="headers-ph">
                        <h3>Standard tab panel created on bootstrap using nav-tabs</h3>
                    </div>
                    <div class="tab-pane" id="images-ph">
                        <h3>Notice the gap between the content and tab after applying a background color</h3>
                    </div>
                    <div class="tab-pane" id="js-ph">
                        <h3>add clearfix to tab-content (see the css)</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>


<script type="application/javascript">
    var httpPrefix = "http://"
    var httpsPrefix = "https://"

    $(document).keypress(function (e) {
        if (e.which == 13) {
            // enter key pressed
            processInputUrl()
        }
    });

    function readListIntoItems(resultDict) {
        var resultString = ''
        for (header in resultDict) {
            if ((resultDict[header].indexOf(httpPrefix) > -1) || (resultDict[header].indexOf(httpsPrefix) > -1)) {
                resultString += "<li><a href='" + resultDict[header] + "'>" + header + "</a></li>"
            } else {
                resultString += "<li><a href='" + prefixHttp(getLinkPrefix()) + resultDict[header] + "'>" + header + "</a></li>"
            }
        }

        return resultString
    }

    function renderImageLinks(imageList) {
        var resultString = ''
        for (image in imageList) {
            if ((imageList[image].indexOf(httpPrefix) > -1) || (imageList[image].indexOf(httpsPrefix) > -1)) {
                resultString += "<img src='" + imageList[image] + "'/>"
            } else {
                resultString += "<img src='" + prefixHttp(getLinkPrefix()) + imageList[image] + "'/>"
            }
        }
        console.log(resultString)
        return resultString
    }

    function prefixHttp(url) {
        if ((url.indexOf(httpPrefix) === -1) || (url.indexOf(httpsPrefix) === -1)) {
            var new_url = httpPrefix + url
        }
        return new_url
    }

    function getLinkPrefix() {
        return document.getElementById("page-url-input").value
    }

    function processInputUrl() {
        document.getElementById("loading-gif").style.visibility = 'visible'
        $.ajax({
            type: 'POST',
            url: "/inputUrl",
            data: JSON.stringify({"url": prefixHttp(document.getElementById("page-url-input").value)}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                document.getElementById("loading-gif").style.visibility = 'hidden'
                $("#result-body").show()
                console.log(result)
                $("#headers-ph").html(readListIntoItems(result.header_data))
                $("#images-ph").html(renderImageLinks(result.images))
            }
        });
    }

</script>
</body>
</html>